* {
  border: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  height: 1999px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: fixed;
  background-color: black;
}
.nav-bar h2 {
  padding-left: 1rem;
  font-size: 42px;
  font-weight: bold;
  width: 50%;
  color: white;
}
#navbar {
  width: 50%;
}
#navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
#navbar a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

#welcome-section {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #453a42;
}

#welcome-section h1 {
  font-size: 64px;
  font-weight: bolder;
  letter-spacing: 20px;
  color: white;
  text-shadow: 2px 2px black;
}

#welcome-section p {
  font-size: 18px;
  font-style: italic;
  letter-spacing: 5px;
  color: brown;
  text-shadow: 0.5px 0.5px black;
}

#projects {
  height: 100vh;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container {
  height: 80%;
  width: 80%;
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto;
}

.projects-container .project-tile {
  box-shadow: 2px 2px 2px 2px #453a42;
  background-image: url("https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?cs=srgb&dl=pexels-pixabay-270348.jpg&fm=jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project-tile h3 {
  color: #f7f7f7;
  text-shadow: 2px 2px black;
  font-size: 18px;
}

.project-tile a {
  text-decoration: none;
  color: #f7f7f7;
  background-color: #453a42;
  padding: 3px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px black;
}

.project-tile a:hover {
  transform: translateY(2px);
}

#contacts {
  background-color: #453a42;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
  align-items: center;
}
#contacts h3 {
  font-size: 64px;
  font-weight: bolder;
  letter-spacing: 10px;
  color: white;
  text-shadow: 2px 2px black;
}

#profile-links img {
  width: 80px;
  height: auto;
}
#profile-links a {
  padding: 0 30px;
}
#profile-links img:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 480px) {
  .projects-container {
    display: grid;
    grid-template-columns: auto auto;
  }
}
